<nav class="transparent z-depth-0">
        <div class="nav-wrapper">
          <div class="row">
            <div class="col s12">
              <a href="#" class="brand-logo" style="font-variant: small-caps; font-weight: bolder;">Debasish</a>
              <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
              <ul class="right hide-on-med-and-down">
                <li><a href="#">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#portfolio">Portfolio</a></li>
                <li><a href="#skills">Skills</a></li>
                <li><a href="#contact">Contact</a></li>
              </ul>
            </div>
          </div>
        </div>
    </nav>



    <ul class="sidenav" id="mobile-demo">
        <li><a href="#">Home</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#portfolio">Portfolio</a></li>
        <li><a href="#skills">Skills</a></li>
        <li><a href="#contact">Contact</a></li>
    </ul>


    <header class="white-text">
        <div class="container">
            <h1>Debasish Mohanta</h1>
            <p>B.Tech CSE at <br> Lovely Professional University.</p>
            <p><a href="#about-me"><span class="material-icons white-text" style="font-size: larger;font-weight: bold;">expand_more</span></a></p>
        </div>
    </header>

    <div id='nav-bg'></div>

    <div></div>
    <div class="section hide-on-med-and-down" style="margin-bottom: 100px; margin-top: 100px;">
        <div class="container" >
            <div class="row">
                <div class="col s4 offset-s1">
                    <div class="card">
                        <div class="card-image">
                            <img src="/assets/debasish.jpg" alt="Debasish">
                        </div>
                    </div>
                </div>
                <div class="col s6 offset-s1">
                    <h3 class="blue-text" style="font-weight: 800;">Hello, I'm <span class="red-text">Debasish</span>!</h3>
                    <p class="red-text scrollspy" id="about" style="font-weight: 600; font-size: 1.3em;">Software Development Student</p>
                    <p class="flow-text">I design and code beautifully simple things, and I love what I do.</p>
                    <p style="font-size: large;">Designing and building things is my passion.I Design beautiful sites and softwares using many programming languages and Frameworks.I love to do such things.I've been working with software since the days I learned Ruby on Rails (2020). I always try to give my best. If I think about something, I never stop until I have not achieved that. I am also a part time creative photographer.I create lasting memory of people.</p>
                    <a href="https://www.linkedin.com/in/debasishmohanta/" class="btn waves-effect waves-light deep-purple">READ MORE</a>
                </div>
            </div>
        </div>
    </div>



    <div class="section show-on-medium hide-on-large-only hide-on-small-only" style="margin-top: 100px; margin-bottom: 100px;">
        <div class="row">
            <div class="col s4 offset-s1">
                <div class="card">
                    <div class="card-image">
                        <img src="/assets/debasish.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="col s5 offset-s1">
                <h4 class="blue-text" style="font-weight: bolder;">Hello, I'm <span class="red-text">Debasish</span>!</h4>
                <p class="red-text" style="font-weight: 500; font-size: 1.3em;">Software Development Student</p>
                <p class="flow-text">I design and code beautifully simple things, and I love what I do.</p>
                <p style="font-size: medium;">Designing and building things is my passion. I've been working with software since the days I learned Ruby on Rails (2020). I always try to give my best.</p>
                <a href="https://www.linkedin.com/in/debasishmohanta/" class="btn waves-effect waves-light deep-purple">READ MORE</a>

            </div>
        </div>
    </div>

    <div class="section hide-on-med-and-up" style="margin: 100px 0;">

            <div class="row">
                <div class="col s6 offset-s3">
                    <img src="/assets/debasish2.jpg" alt="My Image" class="circle responsive-img">

                </div>
            </div>
            <div class="row">
                <div class="col s8 offset-s2">
                    <h5 style="font-weight: bolder;" class="blue-text center">Hello, I'm <span class="red-text">Debasish</span>!</h5>
                    <p class="red-text center" style="font-weight: bold;">Software Development</p>
                    <p class="flow-text center">I design and code beautifully simple things, and I love what I do.</p>
                    <p class="center"><a href="https://www.linkedin.com/in/debasishmohanta/" class="btn waves-effect waves-light deep-purple center">READ MORE</a></p>
                </div>
            </div>

    </div>

    <div class="show-on-large hide-on-med-and-down" style="padding: 100px 0; background-color: #eee;">
        <div class="container">
            <div class="row">
                <div class="col l10 offset-l1">
                    <p style="font-weight: bolder; font-size: 1.2em;" class="red-text text-accent-3">Skills</p>
                    <h4 style="text-transform: uppercase; font-weight: 900; line-height:90%;" class="black-text">Work & Education</h4>
                    <br>
                    <div class="scrollspy" id="portfolio"></div>
                    <div class="row">
                        <div class="col l4">
                            <div class="card">
                                <div class="card-image waves-effect waves-block waves-light">
                                    <img class="activator" src="/assets/28327.jpg">
                                    <span class="card-title black-text activator" style="font-weight: 800;">Education</span>
                                </div>
                                <div class="card-reveal">
                                    <span class="card-title">What I've Learned<i class="material-icons right">close</i></span>
                                    <p>Now, I am in University persuing B.tech in Computer Science. Before this I have passes through many Colleges and Schools.This Section will explore my Educational Background e.g. In which college I've studied till now and what awards and achievement I have got ?</p>
                                    <a href="/education" class="btn waves-effect waves-light deep-purple">Explore</a>
                                </div>
                            </div>
                        </div>

                        <div class="col l4">
                            <div class="card">
                                <div class="card-image waves-effect waves-block waves-light">
                                    <img class="activator" src="/assets/2102.i201.017.remote_management_distant_work_isometric.jpg">
                                    <span class="card-title black-text activator" style="font-weight: 800;">Projects</span>
                                </div>
                                <div class="card-reveal">
                                    <span class="card-title">What I've Done<i class="material-icons right">close</i></span>
                                    <p>It's almost 3 years from thatday, I've started learning HTML, CSS, JavaScript and Ruby on Rails.I am very familiar with the Version Control System, git and cloud platform heroku.So far I have done many projects.This section will explore some of my valueable projects. </p>
                                    <a href="/portfolio" class="btn waves-effect waves-light deep-purple">Explore</a>
                                </div>
                            </div>
                        </div>

                        <div class="col l4">
                            <div class="card">
                                <div class="card-image waves-effect waves-block waves-light">
                                    <img class="activator" src="/assets/41938.jpg">
                                    <span class="card-title black-text activator" style="font-weight: 800;">Technical Skills</span>
                                </div>
                                <div class="card-reveal">
                                    <span class="card-title">What I've Achieved<i class="material-icons right">close</i></span>
                                    <p>It's almost 3 year I'm doing Software Development.In these three year, I've achieved many certificates from very big organizations through online and acquired many skills.This section will explore all of my skills and certifications which I've achived till now.</p>
                                    <a href="https://www.linkedin.com/in/debasishmohanta/" class="btn waves-effect waves-light deep-purple">Explore</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="show-on-medium-and-down hide-on-large-only" style="padding: 100px 0; background-color: #eee;">
        <div class="container">
            <div class="row">
                <div class="col">
                    <p style="font-weight: bolder; font-size: 1.2em;" class="red-text text-accent-3">Skills</p>
                    <h4 style="text-transform: uppercase; font-weight: 900; line-height:90%;" class="black-text">Work & Education</h4>
                    <br>
                    <br>
                    <div class="row">
                        <div class="col s10 offset-s1 m4">
                            <div class="card">
                                <div class="card-image">
                                    <img src="/assets/28327.jpg">
                                    <span class="card-title black-text" style="font-weight: 800;">Education</span>
                                </div>
                                <div class="card-content center">
                                    <span class="card-title">What I've Learned?</span>
                                    <p>Explore my Educational Background till Now.</p>
                                </div>
                                <div class="card-action center">
                                    <a href="/education" class="btn waves-effect waves-light deep-purple">Explore</a>
                                </div>
                            </div>
                        </div>
                        <div class="col s10 offset-s1 m4">
                            <div class="card">
                                <div class="card-image">
                                    <img src="/assets/2102.i201.017.remote_management_distant_work_isometric.jpg">
                                    <span class="card-title black-text" style="font-weight: 800;">Projects</span>
                                </div>
                                <div class="card-content center">
                                    <span class="card-title">What I've Done?</span>
                                    <p>Explore all my projects which I've done So far.(2020-)</p>
                                </div>
                                <div class="card-action center">
                                    <a href="/portfolio" class="btn waves-effect waves-light deep-purple">Explore</a>
                                </div>
                            </div>
                        </div>
                        <div class="col s10 offset-s1 m4">
                            <div class="card">
                                <div class="card-image">
                                    <img src="/assets/41938.jpg">
                                    <span class="card-title black-text" style="font-weight: 800;">Technical Skills</span>
                                </div>
                                <div class="card-content">
                                    <span class="card-title">What I've Achieved?</span>
                                    <p>Explore all my Technical Skills and Certifications.</p>
                                </div>
                                <div class="card-action center">
                                    <a href="https://www.linkedin.com/in/debasishmohanta/" class="btn waves-effect waves-light deep-purple">Explore</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <section style="background: #010101;">
        <div class="container section skills1">
            <div class="row">
                <div class="col s12 l5 offset-l1">
                    <br>
                    <br>
                    <p style="font-weight: bolder; font-size: 1.2em;" class="red-text text-accent-3">Skills</p>
                    <h4 style="text-transform: uppercase; font-weight: 900; line-height:90%;" class="white-text scrollspy" id="skills">Programming Skills</h4>
                    <br>
                    <p class="grey-text text-lighten-4">For more than 1 years our I have been accomplishing enough with modern Web Development, new generation web and app programming language.</p>
                    <br>
                    <div>
                        <p class="white-text" style="font-weight: bold;">HTML & CSS<span class="right white-text">95%</span></p>
                        <div class="progress">
                            <div class="determinate red accent-3" style="width: 95%"></div>
                        </div>
                    </div>
                    <div>
                        <p class="white-text" style="font-weight: bold;">JavaScript<span class="right white-text">80%</span></p>
                        <div class="progress">
                            <div class="determinate red accent-3" style="width: 80%"></div>
                        </div>
                    </div>
                    <div>
                        <p class="white-text" style="font-weight: bold;">Ruby on Rails<span class="right white-text">90%</span></p>
                        <div class="progress">
                            <div class="determinate red accent-3" style="width: 90%"></div>
                        </div>
                    </div>
                </div>
                <div class="col s12 l5 offset-l1 hide-on-med-and-down">
                    <br>
                    <br>
                    <br>
                    <img src="/assets/michael-dziedzic-qDG7XKJLKbs-unsplash.jpg" class="responsive-img">
                </div>
            </div>
            <br>
            <br>
        </div>
    </section>

    <div></div>
    <div class="section" style="margin: 100px 0;">
        <div class="container">
            <div class="row">
                <div class="col s12 l5 offset-l1">
                    <p style="font-weight: bold;" class="red-text text-accent-3 scrollspy" id="contact">Contact</p>
                    <h4 style="text-transform: uppercase; font-weight: 900; line-height:90%;" class="black-text">Get In Touch</h4>
                    <br>
                    <p>Please fill out the form on this section to contact with me Or whatsapp between 9.00 a.m. to 8.00 p.m. ET. Monday through Friday</p>
                    <br>
                    <div class="row valign-wrapper">
                        <span class="material-icons red-text">place</span>
                        <span style="font-weight: bold;padding-left: 10px;">Bhubaneswer, Odisha</span>
                    </div>

                    <div class="row valign-wrapper">
                        <span class="material-icons red-text">phone_in_talk</span>
                        <span style="font-weight: bold;padding-left: 10px;">(+91) 7325874586</span>
                    </div>

                    <div class="row valign-wrapper">
                        <span class="material-icons red-text">email</span>
                        <span style="font-weight: bold;padding-left: 10px;">debasish2018rta@gmail.com</span>
                    </div>

                    <div class="row valign-wrapper">
                        <span class="material-icons red-text">language</span>
                        <span style="font-weight: bold;padding-left: 10px;">debasish.herokuapp.com</span>
                    </div>


                </div>
                <div class="col s12 l4 offset-l1">
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <%= form_for @message, :url => { :controller => 'messages', :action => 'create' } do |f|  %>
                        <div class="input-field">
                            <i class="material-icons prefix">person</i>
                            <%= f.text_field :name %>
                            <%= f.label :name, "Your Full Name" %>
                        </div>
                        <div class="input-field">
                            <i class="material-icons prefix">email</i>
                            <%= f.email_field :email %>
                            <%= f.label :email, "Email" %>
                        </div>
                        <div class="input-field">
                            <i class="material-icons prefix">message</i>
                            <%= f.text_area :message,:class => "materialize-textarea" %>
                            <%= f.label :message, "Your Message" %>
                        </div>
                        <div class="center" style="width: 100%;">
                            <div class="">
                                <%= f.submit "Send Message",class: "btn deep-purple" %>
                              </div>
                        </div>
                    <% end %>
                </div>
            </div>
        </div>
    </div>

    <footer class="page-footer deep-purple">
        <div class="container">
            <div class="row">
                <div class="col s12 l6 offset-l1">
                    <h5 class="white-text" style="font-weight: bold;">Thanks for Visiting!</h5>
                    <p class="grey-text text-lighten-4">The is a personal site made by own using HTML, CSS, jQuery and Materialize CSS Framework.This is my first ever completed website.</p>

                </div>
                <div class="col l3 offset-l2 s12">
                    <h5 class="white-text">Links</h5>
                    <ul>
                        <li><a class="grey-text text-lighten-3" href="#">Home</a></li>
                        <li><a class="grey-text text-lighten-3" href="#about">About</a></li>
                        <li><a class="grey-text text-lighten-3" href="#portfolio">Portfolio</a></li>
                        <li><a class="grey-text text-lighten-3" href="#skills">Skills</a></li>
                        <li><a class="grey-text text-lighten-3" href="#contact">Contact</a></li>
                        <li><a class="grey-text text-lighten-3" href="/education">Education</a></li>

                    </ul>
                </div>
            </div>
        </div>

        <div class="footer-copyright">
            <br><br><br>
            <div class="container">
                <div class="row">
                    <div class="col s12 l10 offset-l1" style="padding-top: 20px; font-size: larger;">
                        Copyright © 2022.Debasish Mohanta
                        <div class="grey-text text-lighten-4 right" style="display: inline-block; font-size: larger;">
                            <a class="white-text" href="https://www.facebook.com/debasish.mohanta.52206" target="_blank" style="margin: 5px;"><i class="bi bi-facebook"></i></a>
                            <a href="https://www.instagram.com/debasish__mohanta/" class="white-text" target="_blank" style="margin: 5px;"><i class="bi bi-instagram"></i></a>
                            <a href="https://www.linkedin.com/in/debasishmohanta/" class="white-text" target="_blank" style="margin: 5px;"><i class="bi bi-linkedin"></i></a>
                            <a href="" class="white-text" target="_blank" style="margin: 5px;"><i class="bi bi-twitter"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
